<header>
  <img src="recharge_logo.jpg" id="logo">
</header>

<div class="connect">
  <div>
    <h1>Staff</h1>
  </div>
  <div>
    <form id="seecardholders" action="/cardholders" method ="get">
      <input id="password" type="text" name="password" placeholder='password'/>
      <input type="submit" value="See cardholders">
    </form>
  </div>
</div>
