<header>
  <img src="recharge_logo.jpg" id="logo">
</header>

<div class="engage-Customers">
  <div>
    <h1>Good to see you here</h1>
    <p>Text to engage customers</p>
  </div>
  <div>
    <form id="obtain-card" action="/cardholders" method ="post">
      <input id="cardholder_name" type="text" name="name" placeholder='First name'/>
      <input id="cardholder_email" type="text" name="email" placeholder="Email"/>
      <input type="submit" value="Get your card">
    </form>
  </div>
</div>

