<meta http-equiv="refresh" content="1" />
<div class ="card" data-holder ="<%= @cardHolder.name %>" data-currentCharge ="<%= @cardHolder.currentCharge %>">
  <div class ="cap"></div>
  <div class ="cafe-container">
    <div class ="cafe-slot" id ="coffee8"><p>發</p></div>
    <div class ="cafe-slot" id ="coffee7"><p>nana</p></div>
    <div class ="cafe-slot" id ="coffee6"><p>yeoseot</p></div>
    <div class ="cafe-slot" id ="coffee5"><p>cinco</p></div>
    <div class ="cafe-slot" id ="coffee4"><p>apat</p></div>
    <div class ="cafe-slot" id ="coffee3"><p>s&#257;n</p></div>
    <div class ="cafe-slot" id ="coffee2"><p>deux</p></div>
    <div class ="cafe-slot" id ="coffee1"><p>uno</p></div>
  </div>
</div>